<!doctype html>

<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{{ MEDIA_URL }}marmite/lib/js/jquery-1.5.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- CSS : implied media="all" -->
    <!--<link rel="stylesheet" href="css/style.css?v=2">-->
    {% block extrastyles %}{% endblock %}
</head>

<body>

    <div id="container">
        <header>

        </header>
        
        <div id="main">

                {% block content %}{% endblock %}

        </div>
        
        <footer>

        </footer>
    </div> <!--! end of #container -->
    {% block extrascripts %}{% endblock %}
</body>
</html>
