body {
    font-family: "Liberation Sans", Helvetica;
    font-size: 14px;
    margin-left: 320px;
}
div#info {
}
div#slider {
}
div#slider input {
    width: 100%;
}
figure {
    font-size: 90px;
    line-height: 1;
    height: 2em;
    width: 2em;
    text-align: center;
}
figure {
    float: left;
    border:1px solid black;
    border-collapse: collapse;
}
figcaption {
    display: block;
    line-height: 32px;
    font-size: 16px;
    height: 32px;
    border-bottom: 1px solid black;
}
div#sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 300px;
    background-color: white;
}
h1 {
    font-size: 1em;
}

dt {
    font-weight: bold;
}
dd {
    margin: 0;
    margin-bottom: 1.2em;
}
